:root {
    --secondary-color: #402C82;
    --success-color: #73BA60;
    --font-family: 'dubyfont';
    --font-family-bold: 'dubyfont-bold';
}

* {
    font-family: var(--font-family);
    margin: 0;
    color: var(--primary-color);
}